html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.body{
    font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


button {
    cursor: pointer;}
    
@media screen and (min-width: 1152px){
    button{
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 320px;
    padding: 80px 16px;
    margin: 0 auto;
    }
@media screen and (min-width: 768px){
    .container{
        min-width: 768px;
        padding: 100px 20px;
        }
    }


@media screen and (min-width: 1152px){
    .container{
        min-width: 1152px;
        padding: 140px 32px;
    }
    .box {
        display: flex;
    }
}
    
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #043873;
    color: white;
}
.logo{
    font-weight: 700;
        font-size: 19px;
        color: #fff;
}
.menu-btn{
    display: block;
    width: 42px;
    height: 24px;
    border: 2px solid #fff;
    fill: #043873;;
}
.login-btn{
    display: none;
    border-radius: 8px;
    padding: 16px 40px;
    width: 126px;
    height: 60px;

    background-color: #ffe492;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.27778;
    letter-spacing: -0.02em;
    color: #043873;}
    
.free-btn{
    display: none;
    border-radius: 8px;
    padding: 16px 24px;
    width: 227px;
    height: 60px;

    background-color: #4f9cf9;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.27778;
    letter-spacing: -0.02em;
    color: #fff;
    
}



@media screen and (min-width: 768px) {
    .header {
        padding: 16px 32px;
    }
    .logo{
        font-size: 28px;
    }
    .menu-btn{
        height: 34px;
    }
}

@media screen and (min-width: 1152px){
    .header-btn{
        display: flex;
        gap: 20px;
    }
    .login-btn{
        display: block;
    }
    .free-btn{
        display: block;
    }
    .menu-btn{
        display: none;

    }
}
/*  hero section  */

.hero-section{
    background-color: #043873;

}
.hero-title{
    margin-bottom: 24px;
    font-weight: 700;
        font-size: 36px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #fff;
}

.hero-text{
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn{
    display: block;
    margin: auto;
    border-radius: 8px;
    padding: 20px 40px;
    width: 232px;
    height: 70px;
    margin-bottom: 100px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    letter-spacing: -0.02em;
    color: #fff;

    background: #4f9cf9;
}

.hero-image-container{
    display: block;
    margin: auto;
    width: 286px;
    height: 191px;
    background: #c4defd;
    
}


@media screen and (min-width: 768px){
    .hero-title{
        font-size: 54px;
    }
    .hero-image-container{
        width: 551px;
        height: 367px;

    }


}

@media screen and (min-width: 1152px){
    
    
    .hero-btn{
        width: 219px;
            height: 63px;
            margin: auto 0;
            font-weight: 500;
            line-height: 1.27778;

    }
    .hero-heading{
        display: flex;
        flex-direction: column;
        width: 561px;
        

    }
    
    .hero-title{
        font-size: 64px;
        text-align: left;
    }
    .hero-text{
        text-align: left;
    }
    .hero-image-container {
            width: 526px;
            height: 350px;
    
        }
}


/*  management */
.management{
    background-color: #fff;
}

.management-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #212529;
}
.management-text{
    margin-bottom: 60px;
    font-weight: 400;
        font-size: 18px;
        line-height: 1.66667;
        letter-spacing: -0.02em;
        text-align: center;
        color: #212529;
}
.management-btn{
    display: block;
    margin: auto;
    border-radius: 8px;
    padding: 20px 40px;
    width: 200px;
    height: 70px;
    margin-bottom: 60px;


    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    letter-spacing: -0.02em;
    color: #fff;

    border-color: #fff;
    background-color: #4f9cf9;
}

.management-image-container{
    width: 286px;
    height: 177px;
    margin-bottom: 100px;

    background: #c4defd;
}
.management-title-second{
    margin-bottom: 24px;
    font-weight: 700;
        font-size: 36px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #212529;
}
.management-text-second {
    margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66667;
        letter-spacing: -0.02em;
        text-align: center;
        color: #212529;

}
.management-btn-second{
    display: block;
    margin: auto;
    border-radius: 8px;
    padding: 20px 40px;
    width: 185px;
    height: 70px;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    letter-spacing: -0.02em;
    color: #fff;

    border-color: #fff;
    background: #4f9cf9;
 }

 @media screen and (min-width: 768px) {
    .management-title{
        font-size: 54px;
    }
    .management-btn{
        width: 190px;
        height: 59px;
    }
    .management-image-container{
        width: 561px;
        height: 349px;
        margin: auto;
    }
    .management-btn{
        width: 190px;
        height: 59px;
        
        font-weight: 500;
        font-size: 16px;
    }
    .management-title-second{
        margin-top: 100px;
        margin-bottom: 24px;
        font-size: 54px;
    }
    .management-btn-second{
        width: 177px;
        height: 59px;

        font-weight: 500;
        font-size: 16px;
    } 
    .management-image{
        margin: auto;
    }
   }

   @media screen and (min-width: 1152px){
    .management-title {
            font-size: 64px;
            text-align: left;
        }
    .management-text{
        text-align: left;
    }
    
    .management-btn {
        border-radius: 6px;
        width: 201px;
        height: 63px;
        margin: 0 ;
        
    }
    .management-image-container {
         width: 527px;
         height: 328px;
        }
    .management-headline{
        display: flex;
        flex-direction: column;
        width: 528px;
    }
    .management-work{
        display: flex;
        flex-direction: column;
        width: 527px;
    }
    .management-title-second {
        font-size: 64px;
        text-align: left;
    }
    .management-text-second {
        text-align: left;
    }
    .management-btn-second{
        border-radius: 6px;
        width: 186px;
        height: 63px;
        margin: 0;
    }
    .box.management{
        margin-top: 100px;
    }
     }


     /* use */

     .use{
        background-color:#043873;;
     }
     .use-title{
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
     }
     .use-text{
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66667;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
     }
     .use-btn{
        display: block;
        border-radius: 8px;
        padding: 20px 40px;
        width: 170px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 60px;

        background-color: #4f9cf9;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66667;
        letter-spacing: -0.02em;
        color: #fff;
     }
     .use-image-container{
        
        width: 284px;
        height: 198px;
        margin: auto;

        background-color: #c4defd;
     }

    @media screen and (min-width: 768px){
        .use-title{
            font-size: 54px;
        }
        .use-btn{
            width: 164px;
            height: 59px;

            font-weight: 500;
            font-size: 16px;
        }
        .use-image-container{
            width: 556px;
            height: 388px;
        }
    }
    @media screen and (min-width: 1152px){
        .use-title{
           font-size: 64px;
           text-align: left;
        }
        .use-btn{
            border-radius: 6px;
            width: 176px;
            height: 63px;
            margin: 0;
        }
        .use-image-container{
            width: 458px;
            height: 320px;
        }
        .use-headline{
            display: flex;
            flex-direction: column;
            width: 528px;
        }
        .use-text{
            text-align: left;
        }
    }